name: Run Linting Pipeline

on: 
  pull_request:
    branches:
      - master

jobs:
  linter:
    name: PyLint check
    runs-on: ubuntu-latest
    steps: 
      - name: linter checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: pip install -r requirements.txt
      - run: pylint ./**/*.py